@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.205);
  color: #fff;
  font-family: 'Press Start 2P', sans-serif;
  margin: 0;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

a {
  color: #fff;
}
h1 {
  line-height: 1.4;
  padding: 0.1rem;
}

.btn {
  border: 0;
  font-family: inherit;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.screen.up {
  margin-top: -100vh;
  transition: margin 2s ease-in-out;
}

/* MAIN SCREEN */

.screen.main-screen {
  background-image: url('./imgs/allswords.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  /* z-index: -2; */
}
.screen.screen.main-screen::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('./imgs/allswords.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.233);
  width: 100%;
}

.screen.screen.main-screen h1 {
  color: #53aff4;
  letter-spacing: 1.9px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.192);
}

.screen.main-screen .btn {
  background-color: rgba(7, 64, 114, 0.781);
  color: #fff;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.9);
  margin-top: 6rem;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.screen.main-screen .btn:hover {
  background-color: #0a64a4;
  /* make an effect in the click button*/
  transform: translateY(5px);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.9);

  /* transition: transform 2s ease-in-out; */
}

#toggle-sound {
  line-height: 1.5;
  position: absolute;
  text-align: inherit;
  font-family: inherit;
  overflow: hidden;
  max-width: 50px;
  max-height: 50px;
  padding: 25px 60px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.672);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 500ms linear;
  z-index: 1;
  cursor: pointer;
}
button.on {
  background-color: rgb(26, 158, 0);
}

button.off {
  background-color: rgb(158, 24, 0);
}

#toggle-sound:hover {
  transform: translateY(3px);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.9);
}

/* CHOOSE SCREEN */

.sword-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.sword-list li {
  padding: 0.5rem;
}

.choose-sword-btn {
  background-color: transparent;
  border: 0.2rem solid #53aff4;
  padding: 0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 2px #252d34;
}

.choose-sword-btn:hover {
  background-color: #fff;
  color: #53aff4;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.choose-sword-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-sword-btn p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* to put the text in the middle*/
  padding-left: 1rem;
  z-index: 1;
  line-height: 1.5;
  font-weight: bold;
}

.choose-sword-btn img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* 232 × 242 px */
}

/* THE LAST AND GAME SCREEN */

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 0;
  padding: 20px;
}

.time {
  left: 0;
}

.score {
  right: 0;
}

.message {
  color: rgba(214, 32, 32, 0.603);
  opacity: 0;
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.411);
  padding: 2rem;
  z-index: -100;
  text-align: center;
  margin-bottom: 25rem;
  box-shadow: 2px 2px 25px rgba(122, 122, 122, 0.233);
  width: 100%;

  /*Putting outside of the screen to make a animation */
  /* position: absolute;
  top: 0;
  right: 50%; */
  /* transform: translate(-150%, -50%);  */
  /* transition: transform 1s ease-in; */
}

.message.visible {
  z-index: 100;
  opacity: 1;
}

.enemy {
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s ease-out;

  /* RANDOM POSITION */
  /* top: 500px;
  left: 500px; */
}

.enemy.dead {
  transform: translate(-50%, -50%) scale(0);
}

.enemy img {
  /* border-radius: 50%; */
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  width: 80px;
  height: 80px;
}
